.big-button {
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    font-size: $l-size;
    font-weight: bold;
    color: #fff;

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $xl-size;
    }

    &:disabled {
        opacity: .5;
    }
}

.button {
    padding: $s-size;
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    font-weight: 500;
    color: #fff;
}

.button--link {
    padding: 0;
    background: none;
    border: none;
    color: $off-white;
}
